body {
	background:#f4f4f4;
	font-family: 'Roboto Slab', serif;
     }

.content {
	max-width: 800px;
	margin:auto;
	padding: 10px;
	border-bottom: 5px;
}
h1 {
	color:#c0b283;
	font-size: 300%;
	}
p  {
	color:#373737;
	line-height: 150%;
}
img {
  max-width: 100%;
}
hr {
  position: relative;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.07);
  height: 30px;
  overflow: hidden;
}
hr::after {
  content: "";
  position: absolute;
  left: 2%;
  top: 0;
  width: 96%;
  height: 1px;
  background: rgba(255,255,255,.08);
  box-shadow: 0 2px 30px rgba(0,0,0,.9);
}
#nav {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
}
#nav li {
	float: left; }

#nav li a {
	width: 100px;
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #373737;
	margin-right: 7px;

}
#nav li a:hover {
	color: #373737;
	background-color: #fff; }

	a {
	  color:#373737;
		text-decoration: none;
		border-bottom: 1px solid #dcd0c0;
	  box-shadow: inset 0 -4px 0 #dcd0c0;

	}

code {
	font-family: 'Overpass Mono', monospace;
	background-color: white;
	border-radius: 5px;
	padding: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

	a:hover {
		border-bottom: 1px solid #c0b283;
	  box-shadow: inset 0 -4px 0 #c0b283;
		background-color: #fff;
	}
